<div class="row">
    <div class="col-md-12 text-center">
        <h1>Words and Music</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3"><img class="icon" src="assets/images/wam/wamicon.png" /></div>
    <div class="col-md-8">
        <h3>This app was a contractor project through Blast Off Apps developed for iOS with Xcode. Words and Music is a book store in Wheeling,West Virginia. I was responsible for porting the Android version to iOS. The final product of this app uses the Parse api to access
            the Parse database where I stored their book collection. A Paypal api was also implemented so people have more options to pay when buying
            a book from here.</h3>
    </div>
</div>
<hr class="seperator" />
<div class="container"></div>