<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Projects</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-6"><a href="/projects/gradez">
                <div class="gz-card-image mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions"><span class="gz-card-image__filename">Gradez</span></div>
                </div>
            </a></div>
        <div class="col-md-3 col-xs-6"><a href="/projects/franklinregional">
                <div class="fr-card-image mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions"><span class="fr-card-image__filename">Franklin Regional</span></div>
                </div>
            </a></div>
        <div class="col-md-3 col-xs-6"><a href="/projects/lifecounter">
                <div class="lc-card-image mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions"><span class="lc-card-image__filename">Life Counter</span></div>
                </div>
            </a></div>
        <div class="col-md-3 col-xs-6"><a href="/projects/frameit">
                <div class="fi-card-image mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions"><span class="fi-card-image__filename">Frame It </span></div>
                </div>
            </a></div>
    </div><br /><br />
    <div class="row">
        <div class="col-md-3 col-xs-6"><a href="/projects/fastmoviephotos">
                <div class="fmp-card-image mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions"><span class="fmp-card-image__filename">Fast Move Photos </span></div>
                </div>
            </a></div>
        <div class="col-md-3 col-xs-6"><a href="/projects/graphgame">
                <div class="d-card-image mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions"><span class="d-card-image__filename">Graph Game </span></div>
                </div>
            </a></div>
        <div class="col-md-3 col-xs-6"><a href="/projects/wordsandmusic">
                <div class="wam-card-image mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions"><span class="wam-card-image__filename">Works and Music</span></div>
                </div>
            </a></div>
        <div class="col-md-3 col-xs-6"><a href="/projects/vehicleapp">
                <div class="d-card-image mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions"><span class="d-card-image__filename">Vehicle App</span></div>
                </div>
            </a></div>
    </div><br /><br />
    <div class="row">
        <div class="col-md-3 col-xs-6"></div>
        <div class="col-md-3 col-xs-6"><a href="/projects/rockpaperscissors">
                <div class="rps-card-image mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions"><span class="rps-card-image__filename">Rock Paper Scissors </span>
                    </div>
                </div>
            </a></div>
        <div class="col-md-3 col-xs-6"><a href="/projects/pinballprice">
                <div class="pp-card-image mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions"><span class="pp-card-image__filename">Pinball Price </span></div>
                </div>
            </a></div>
        <div class="col-md-3 col-xs-6"></div>
    </div>
</div>