<a href="/">
  <img src="../assets/images/icons/fixedlogo.png" class="logoimage" />
</a>
<ul class="topnav">
  <li>
    <a href="https://www.linkedin.com/in/mac-mittereder-7a248bb5/">LINKEDIN</a>
  </li>
  <li>
    <a href="https://github.com/macmittereder">GITHUB</a>
  </li>
  <li>
    <a href="/projects">PROJECTS</a>
  </li>
  <li>
    <a href="/">HOME</a>
  </li>
</ul>

<router-outlet></router-outlet>

<footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/src/js/material/material.min.js"></script>
</footer>