<div class="row">
    <div class="col-md-12 text-center">
        <h1>Vehicle App</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3"><img class="icon" src="assets/images/d/dicon.png" /></div>
    <div class="col-md-8">
        <h3>This was a contractor project through Blast off apps developed for Androidusing Android Studio and iOS using Xcode. The app developed to provide the client with a way
            to store information about vehicles to a single database so it was accessable to anyone that is
            using the app. This was achieved using the Parse api to retrieve data from the Parse database. </h3>
    </div>
</div>
<hr class="seperator" />
<div class="container"></div>